VITE_DEFAULT_COT_DAYS=5

# Azure AD (MSAL)
VITE_AZURE_AD_CLIENT_ID=
VITE_AZURE_AD_TENANT_ID=common

# Development
VITE_MOCK_AUTH=true
VITE_MOCK_AUTH_EMAIL=gabrielt@donyeyo.com.ar
VITE_MOCK_AUTH_NAME=Gabriel Tonelli

# Feature Flags
VITE_ENABLE_GOOGLE_LOGIN=false
