# URL base de la API del backend
# En desarrollo local: http://localhost:5000/api
VITE_API_URL=http://localhost:5000/api

# Puerto del servidor Vite (cliente)
# VITE_PORT=5173

# Nombre para mostrar del usuario mock (desarrollo)
VITE_MOCK_USER_NAME=Gabriel Tonelli
VITE_MOCK_USER_EMAIL=gabrielt@donyeyo.com.ar
