# Server Configuration
PORT=5000
NODE_ENV=development

# Authentication Configuration (Azure AD)
AZURE_AD_CLIENT_ID=
AZURE_AD_TENANT_ID=
# Lista de correos autorizados separados por coma. Ej: admin@empresa.com,user@empresa.com
AUTHORIZED_EMAILS=

# Finnegans API
FINNEGANS_CLIENT_ID=
FINNEGANS_CLIENT_SECRET=
FINNEGANS_TOKEN_URL=https://api.teamplace.finneg.com/api/oauth/token
FINNEGANS_API_BASE=https://api.finneg.com/api
FINNEGANS_EMPRESA_COD=1
FINNEGANS_TIMEOUT=30
FINNEGANS_ENVIOS_REPORT=APICONSULTAENVIOSDY
FINNEGANS_HOJAS_RUTA_REPORT=APICONSULTAHOJASRUTADY

# ARBA COT
ARBA_COT_USER=
ARBA_COT_PASSWORD=
ARBA_COT_URL=http://cot.test.arba.gov.ar/TransporteBienes/SeguridadCliente/presentarRemitos.do
ARBA_CUIT_EMPRESA=
ARBA_SAVE_LOCAL=false
ARBA_LOCAL_PATH=./txts
ARBA_COOKIE=
ARBA_PLANTA=001
ARBA_PUERTA=001
ARBA_SECUENCIA=000001
